monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists

when@dev:
    monolog:
        handlers:
            main:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                channels: ["!event"]
            # uncomment to get logging in your browser
            # you may have to allow bigger header sizes in your Web server configuration
            #firephp:
            #    type: firephp
            #    level: info
            #chromephp:
            #    type: chromephp
            #    level: info
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

when@prod:
    monolog:
        handlers:
            main:
                type: rotating_file
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                max_files: 30
                formatter: monolog.formatter.json

            doctrine:
                type: rotating_file
                path: "%kernel.logs_dir%/doctrine.log"
                level: debug
                channels: ["doctrine"]
                max_files: 30
                formatter: monolog.formatter.json

            critical:
                type: rotating_file
                path: "%kernel.logs_dir%/critical.log"
                level: error
                max_files: 60
                formatter: monolog.formatter.json

            security:
                type: rotating_file
                path: "%kernel.logs_dir%/security.log"
                level: debug
                channels: ["security"]
                max_files: 30
                formatter: monolog.formatter.json

            deprecation:
                type: rotating_file
                path: "%kernel.logs_dir%/deprecation.log"
                channels: ["deprecation"]
                level: debug
                max_files: 10
                formatter: monolog.formatter.json

            request:
                type: stream
                path: "%kernel.logs_dir%/request.log"
                channels: ["request"]
                level: info
                formatter: monolog.formatter.json

            console:
                type: console
                process_psr_3_messages: false
                level: warning
                formatter: monolog.formatter.json
