services:
  database:
    image: mysql:latest
    platform: linux/x86_64
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sunstack
    volumes:
      - dbdata:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - database
    environment:
      PMA_HOST: "database"
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    ports:
      - "8888:80"
volumes:
  dbdata:
