<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="my-12 sm:my-8 text-center">
            <a href="https://sunstack.cajytam.fr/">
              <img
                src="@{{ BASE_URL }}img/logo/sunstack-logo.png"
                class="w-[225px]"
                alt="SunStack logo"
              />
            </a>
          </div>

          <table class="w-full">
            <tr>
              <td
                class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm"
              >
                <h1
                  class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold"
                >
                  Bonjour @{{USER_FIRSTNAME}},
                </h1>

                <p class="m-0 leading-6">
                  Vous avez oublié votre mot de passe ?
                  <br />
                  Tout va bien, ce sont des choses qui arrivent, nous sommes là
                  pour vous aider. 😉
                  <br />
                  <br />
                  Cliquez sur le bouton ci-dessous pour le réinitialiser :
                </p>

                <x-spacer height="24px" />

                <x-button href="@{{PASSWORD_RESET_LINK}}">
                  Réinitialiser mon mot de passe &rarr;
                </x-button>

                <p class="italic">Ce lien est valide 24h.</p>

                <x-divider space-y="32px" class="bg-slate-200" />

                <p class="m-0">
                  Si vous n'êtes pas à l'initiative de cette demande, vous
                  pouvez ignorer cet email.
                  <br />
                  <br />
                  SunStack
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
